body, html {
  margin: 0;
  padding: 0;
  background-color: #000; /* Nền đen lót dưới cùng */
  overflow: hidden; /* Không cho hiện thanh cuộn xấu xí của trình duyệt */
  width: 100%;
  height: 100%;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* Ẩn bớt thanh cuộn nếu có hiện ra */
::-webkit-scrollbar {
  display: none;
}